{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div>
    <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit">Login</button>
        </form>
</div> 
       
{% endblock content %}