{% extends "base.html" %}

{% block title %}
Create Receipt
{% endblock %}

{% block content %}
<div>
    <h1>Create Receipt</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}
